body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    background: rgb(39, 197, 0);
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#qrcode {
    margin-top: 20px;
}
